.button-primary {
  margin: auto;
  position: relative;
  padding: 0.6rem 1rem;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  $border: 3px;
  color: #fff;
  background: $background;
  background-clip: padding-box;
  border: solid $border transparent;
  border-radius: 19px;
  font-size: 1.3rem;
  .button-arrow {
    transition: transform 300ms;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background: $gradient;
  }
}
.button-primary:hover {
  .button-arrow {
    transform: translateX(8px);
  }
}
