.button-primary {
  margin: auto;
  position: relative;
  padding: 0.6rem 1rem;
  $border: 3px;
  color: #fff;
  background: $background;
  background-clip: padding-box; /* !importanté */
  border: solid $border transparent; /* !importanté */
  border-radius: 19px;
  font-size: 1.3rem;
  .button-arrow {
    transition: transform 300ms;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: $gradient;
  }
}
.button-primary:hover {
  .button-arrow {
    transform: translateX(8px);
  }
}
.btn-contact {
  border-radius: 2rem; 
  height: 4rem;
  width: 30vw;
  font-size: 1.5rem;
  border: 1px solid white;
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.6rem 1rem;
  margin: 1rem;
  color: white;
  transition: all 300ms ease-in-out;
}
.btn-contact > img {
  height: 100%;
  padding: 0;  
  background-color: white;
  border-radius: 13px;
}
.btn-contact:hover {
  background-color: white;
  color: black;
}
