#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  height: 80vh;
  .hero-title {
    font-size: 110px;
    color: white;
    width: 50vw;
    text-align: center;
  }
  .button-primary {
    display: flex;
    justify-content: center;
    gap: 13%;
    width: 12.5rem;
  }
}
