#hero {
  gap: 1.5rem;
  
  .hero-text {
    width: 50vw;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hero-title {
    font-size: 100px;
    color: white;

    text-align: center;
    user-select: none;
  }
  @media (max-width: 1609px) {
    .hero-text {
      width: 70vw;
    }
  }
  @media (max-width: 1240px) {
    .hero-text {
      width: auto;
    }
    .hero-title {
      font-size: clamp(3rem, 9vw, 90px);
    }
  }
  .button-primary {
    display: flex;
    justify-content: center;
    gap: 12%;
    width: 12.5rem;
  }
  .hero-img-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 90vh;
    overflow: hidden;
  }
  .hero-img {
    box-shadow: 4 -3 4 0 rgba(0, 0, 0, 0.25);
    border-radius: 34px;
    z-index: 0;
    object-fit: cover;
    position: relative;
    user-select: none;
    &:nth-of-type(1) {
      width: 372px;
      height: 285px;
      transform: rotate(-5.46deg);
      justify-self: start;
      left: 10vw;
      top: 2vh;
    }
    &:nth-of-type(2) {
      width: 279px;
      height: 361px;
      transform: rotate(7.97deg);
      justify-self: end;
      align-self: end;
      right: 15vw;
    }
    &:nth-of-type(3) {
      width: 427.32px;
      height: 321.87px;
      transform: rotate(2.11deg);
      justify-self: start;
      align-self: end;
      left: 7vw;
      bottom: 1vw;
    }
    &:nth-of-type(4) {
      height: 259.91px;
      width: 516px;
      transform: rotate(4.94deg);
      bottom: 3%;
      right: 10vw;
      justify-self: end;
      top: 12vh;
      right: 9vw;
    }
    @media (max-width: 1240px) {
      &:nth-of-type(1) {
        left: 5vw;
        width: 35vw;
      }
      &:nth-of-type(2) {
        right: 5vw;
        width: 25vw;
        height: 40vh;
      }
      &:nth-of-type(3) {
        left: 5vw;
        width: 40vw;
      }
      &:nth-of-type(4) {
        right: 5vw;
        width: 35vw;
      }
    }
  }
}
