* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
@import "variable";
@import "nav";
@import "loader";
@import "button";
@import "hero";
@import "projects";
@import "gd";
@import "contactus";
@import "footer";
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
a {
  font-family: "Poppins", sans-serif;
}
a {
  color: inherit;
  text-decoration: inherit;
}
body {
  background: $background;
  position: relative;
}
.blob {
  position: fixed;
  width: 430px;
  height: 480px;
  background: linear-gradient(45deg, rgb(0, 136, 255), rgba(0, 238, 255, 0.8));
  border-radius: 100%;
  filter: blur(50px);
  z-index: -2;
}
//in dev
.section-title {
  font-size: clamp(3rem, 5vw, 4rem);
  color: white;
}
.section-title::before {
  content: "<";
}
.section-title::after {
  content: ">";
}
