$gradient: -webkit-linear-gradient(48deg, #278bff, #28ffed);
$primary-color: #278bff;
@mixin gradient-text {
  font-size: 72px;
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

$background: #1e2121;
:root {
  --background: #1e2121;
}
